openapi: 3.0.3
info:
  title: Daily batch/rooms domain API
  description: "The Daily REST API offers the ability to manage the following: \n- Overall Domain Configuration\n- Individual Room creation and config management \n- Meeting token creation and validation\n- Recording and compositing management \n- Meeting analytics\n- Logs and metrics\n- Real-time presence\n\nPlease reach out to help@daily.co if we can help with anything"
  version: 1.1.1
  contact:
    name: Daily
    url: https://docs.daily.co
    email: help@daily.co
servers:
- url: https://api.daily.co/v1
security:
- bearerAuth: []
tags:
- name: domain
paths:
  /:
    get:
      summary: Get domain configuration
      description: Get top-level configuration of your domain
      operationId: GetDomainConfig
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Example Response:
                  value:
                    domain_name: api-test-1
                    domain_id: 30f866c3-9123-452a-8723-ff58322d09c5
                    config:
                      redirect_on_meeting_exit: ''
                      hide_daily_branding: false
                      hipaa: false
                      intercom_auto_record: false
                      lang: en
                      meeting_join_hook: ''
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    domain_name: your-domain
                    domain_id: 8cbd738e1-6a95-47f1-a517-0a19s328a79
                    config:
                      hide_daily_branding: true
                      redirect_on_meeting_exit: ''
                      meeting_join_hook: ''
                      hipaa: false
                      intercom_auto_record: false
                      intercom_manual_record: ''
                      sfu_impl: s
                      sfu_switchover: null
                      switchover_impl: null
                      lang: null
                      max_api_rooms: null
                      webhook_meeting_end: null
                      recordings_bucket: null
                      max_live_streams: 20
                      max_streaming_instances_per_room: 1
                      enable_daily_logger: true
                      enable_prejoin_ui: true
                      enable_live_captions_ui: false
                      enable_network_ui: false
                      disable_rate_limiting: false
                      attach_callobject_to_window: false
                properties:
                  domain_name:
                    type: string
                    minLength: 1
                  domain_id:
                    type: string
                    minLength: 1
                  config:
                    type: object
                    properties:
                      hide_daily_branding:
                        type: boolean
                        description: Whether "Powered by Daily" displays in the in-call UI.
                      redirect_on_meeting_exit:
                        type: string
                        description: (For meetings that open in a separate browser tab.) When a user clicks on the in-call menu bar's "leave meeting" button, the browser loads this URL. A query string that includes a parameter of the form `recent-call=<domain>/<room>` is appended to the URL. On mobile, you can redirect to a deep link to bring a user back into your app.
                      meeting_join_hook:
                        type: string
                        description: 'Sets a URL that will receive a webhook when a user joins a room.


                          ⚠️ In place of the `meeting_join_hook`, we recommend setting up a [webhook](/products/rest-api/webhooks) and listening for the [`participant.joined`](/products/rest-api/webhooks/events/participant-joined) event.'
                      hipaa:
                        type: boolean
                        description: Email us at help@daily.co to turn on HIPAA. Learn more about [our HIPAA compliance](https://www.daily.co/hipaa-compliance).
                      intercom_auto_record:
                        type: boolean
                        description: "Whether to automatically start recording when an Intercom support agent joins an Intercom-created call. Please see our [Intercom Messenger App page](https://www.daily.co/intercom) for more information. \n\n⚠️This method is read-only; please contact us if you'd like to enable intercom call auto-recording."
                      intercom_manual_record:
                        type: string
                      sfu_impl:
                        type: string
                        minLength: 1
                      sfu_switchover:
                        type: integer
                      switchover_impl:
                        type: string
                      lang:
                        type: string
                        description: "The default language for the video call UI, for all calls. \n\nIf you set the language at this domain level, you can still override the setting for specific rooms in [a room's configuration properties](/products/rest-api/rooms/config), or for a specific participant in a [meeting token](/products/rest-api/meeting-tokens/config). \n\nYou can also set the language dynamically using the front-end library [setDailyLang() method](/products/daily-js/instance-methods/set-daily-lang).\n\n`*` Norwegian `\"no\"` and Russian `\"ru\"` are only available in the new Daily Prebuilt."
                      webhook_meeting_end:
                        type: string
                      recordings_bucket:
                        type: object
                        properties:
                          bucket_name:
                            type: string
                          bucket_region:
                            type: string
                      max_live_streams:
                        type: number
                      max_streaming_instances_per_room:
                        type: number
                      enable_daily_logger:
                        type: boolean
                      enable_prejoin_ui:
                        type: boolean
                        description: "Determines whether participants enter a waiting room with a camera, mic, and browser check before joining a call in any room under this domain. \n\n⚠️ You must be using [Daily Prebuilt](https://daily.co/blog/daily-prebuilt-video-chat) to use `enable_prejoin_ui`."
                      enable_live_captions_ui:
                        type: boolean
                        description: 'Sets whether participants in a room see a closed captions button in their Daily Prebuilt call tray. When the closed caption button is clicked, closed captions are displayed locally.


                          When set to `true`, a closed captions button appears in the call tray. When set to `false`, the closed captions button is hidden from the call tray.


                          Note: Transcription must be enabled for the room or users must have permission to start transcription for this feature to be enabled. View the [transcription guide](/guides/products/transcription) for more details.


                          ⚠️ You must be using [Daily Prebuilt](https://daily.co/blog/daily-prebuilt-video-chat) to use `enable_live_captions_ui`.'
                      enable_network_ui:
                        type: boolean
                        description: "Determines whether the network button, and the network panel it reveals on click, appears across all rooms belonging to this domain. \n\n⚠️ You must be using [Daily Prebuilt](https://daily.co/blog/daily-prebuilt-video-chat) to use `enable_network_ui`."
                      disable_rate_limiting:
                        type: boolean
                      attach_callobject_to_window:
                        type: boolean
                      enable_raw_tracks_transcoded_audio:
                        type: string
                        enum:
                        - aac
                        - wav
                        - wav-48k
                        - wav-48k-stereo
                        - wav-48k-mono
                        - wav-44k1
                        - wav-44k1-stereo
                        - wav-44k1-mono
                        - ''
                        description: 'Enable gapless transcoded audio for `raw-tracks` recordings in all rooms under this domain. When set, each participant''s audio track is decoded, gaps (muted mic, idle periods, packet loss) are filled with silence, and the track is re-encoded as a continuous file. Affects audio tracks only; video tracks still record as `.webm`. A room value takes priority over this domain value.


                          Supported values:


                          * `aac`: AAC at 160 kbps, 48 kHz stereo, in an MP4 container.

                          * `wav-48k-stereo` (aliases `wav` and `wav-48k`): 16-bit PCM WAV, 48 kHz stereo.

                          * `wav-48k-mono`: 16-bit PCM WAV, 48 kHz mono.

                          * `wav-44k1-stereo` (alias `wav-44k1`): 16-bit PCM WAV, 44.1 kHz stereo.

                          * `wav-44k1-mono`: 16-bit PCM WAV, 44.1 kHz mono.


                          Leave unset to keep the default Opus audio in a `.webm` container. See the [recording guide](/docs/guides/features/recording#gapless-transcoded-audio).'
        '400':
          $ref: '#/components/responses/400'
      deprecated: false
      tags:
      - domain
      security:
      - bearerAuth: []
    post:
      summary: Set domain configuration
      description: Set top-level configuration options for your domain
      operationId: SetDomainConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/domain'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    domain_name: your-domain
                    config:
                      hide_daily_branding: false
                      hipaa: false
                      intercom_auto_record: false
                      lang: es
      deprecated: false
      tags:
      - domain
      security:
      - bearerAuth: []
components:
  schemas:
    enable_terse_logging:
      type: boolean
      description: 'Reduces the volume of log messages. This feature should be enabled when there are more than 200 participants in a meeting to help improve performance.


        See our [guides for supporting large experiences](/guides/scaling-calls) for additional instruction.'
      default: false
    transcription_bucket:
      type: object
      description: 'Configures an S3 bucket in which to store transcriptions.

        See the [S3 bucket guide](/guides/products/live-streaming-recording/storing-recordings-in-a-custom-s3-bucket) for more information.'
      properties:
        bucket_name:
          type: string
          description: The name of the Amazon S3 bucket to use for transcription storage.
          example: my-daily-recording
        bucket_region:
          type: string
          description: The region which the specified S3 bucket is located in.
          example: ap-south-1
        assume_role_arn:
          type: string
          description: The Amazon Resource Name (ARN) of the role Daily should assume when storing the transcription in the specified bucket.
          example: arn:aws:iam::555555555555:role/DailyS3AccessRole
        allow_api_access:
          type: boolean
          description: Whether the transcription should be accessible using Daily's API.
    enforce_unique_user_ids:
      type: boolean
      description: Configures a domain or room to disallow multiple participants from having the same `user_id`. This feature can be enabled to prevent users from "sharing" meeting tokens. When enabled, a participant joining or reconnecting to a meeting will cause existing participants with the same user_id to be ejected.
      default: false
    geo:
      type: string
      description: 'Daily uses signaling servers to manage all of the participants in a given call session. In an SFU/server mode call, the server will send and receive all audio and video from each participant. In a peer-to-peer call, each participant sends media directly to and from each other peer, but a signaling server still manages call state.


        Daily runs servers in several different AWS regions to minimize latency for users around the world. The job of ''picking'' a call server is handled when the first participant joins a room. The first participant''s browser connects to a call server using Amazon''s Route 53 DNS resolution, which chooses a server in the region closest to them.


        This isn''t always optimal. For example, if one person joins in London, and then ten more people join from Cape Town, the call will still be hosted out of `eu-west-2` . The majority of the participants will have higher latency to the server than if one of them had joined first and the call was being hosted in `af-south-1`. In cases like this, you may want to configure your domain (or a specific room) to always choose a call server in a specific AWS region.


        Available regions:

        - `"af-south-1"` (Cape Town)

        - `"ap-northeast-2"` (Seoul)

        - `"ap-southeast-1"` (Singapore)

        - `"ap-southeast-2"` (Sydney)

        - `"ap-south-1"` (Mumbai)

        - `"eu-central-1"` (Frankfurt)

        - `"eu-west-2"` (London)

        - `"sa-east-1"` (São Paulo)

        - `"us-east-1"` (N. Virginia)

        - `"us-west-2"` (Oregon)'
      default: 'NULL'
    transcription_template:
      type: string
      default: '{domain_name}/{room_name}/{epoch_time}.vtt.'
      description: "transcriptions can be stored in either Daily's S3 bucket or the customer's own S3 bucket. By default transcriptions are stored as `{domain_name}/{room_name}/{epoch_time}.vtt`. Sometimes, the use case may call for custom file path to be used (for example, if you'd like to map stored transcription to mtgSessionId).\n\n`transcription_template` is made up of a replacement string with prefixes, suffixes, or both. The currently supported replacements are:\n  - `epoch_time`: The epoch time in seconds (mandatory)\n  - `domain_name`: Your Daily domain (optional)\n  - `room_name`: The name of the room which is getting transcribed (optional)\n  - `mtg_session_id`: The ID of the meeting session which is getting transcribed (optional)\n  - `instance_id`: The instance ID of the transcription (optional)\n  - `transcript_id`: The transcript ID of the transcription (optional)\n\n  The restrictions for defining a transcription template are as follows:\n  - The `epoch_time` tag is mandatory to ensure the transcription file name is unique under all conditions\n  - The maximum size of the template is 1024 characters\n  - Each replacement parameter should be placed within a curly bracket (e.g., `{domain_name}`)\n  - Only alphanumeric characters `(0-9, A-Z, a-z)` and `.`, `/`, `-`, `_` are valid within the template\n\nExamples\n- Example domain: \"myDomain\"\n- Example room: \"myRoom\"\n\nExample 1:\n- Template: `myprefix-{domain_name}-{epoch_time}.mp4`\n- Resulting file name: `myprefix-myDomain-1675842936274.mp4`\n\nExample 2:\n- Template: `{room_name}/{instance_id}/{epoch_time}`\n- Resulting room name: `myRoom/d529cd2f-fbcc-4fb7-b2c0-c4995b1162b6/1675842936274`"
    recordings_template:
      type: string
      default: '{domain_name}/{room_name}/{epoch_time}.'
      description: "Cloud recordings are stored in either Daily's S3 bucket or the customer's own S3 bucket. By default recordings are stored as `{domain_name}/{room_name}/{epoch_time}`. Sometimes, the use case may call for custom recording file names to be used (for example, if you'd like to enforce the presence of the .mp4 extension in the file name).\n\n`recordings_template` is made up of a replacement string with prefixes, suffixes, or both. The currently supported replacements are:\n  - `epoch_time`: The epoch time in milliseconds (mandatory)\n  - `domain_name`: Your Daily domain (optional)\n  - `room_name`: The name of the room which is getting recorded (optional)\n  - `mtg_session_id`: The ID of the meeting session which is getting recorded (optional)\n  - `instance_id`: The instance ID of the recording (optional)\n  - `recording_id`: The recording ID of the recording (optional)\n\n  The restrictions for defining a recording template are as follows:\n  - The `epoch_time` tag is mandatory to ensure the recording file name is unique under all conditions\n  - The maximum size of the template is 1024 characters\n  - Each replacement parameter should be placed within a curly bracket (e.g., `{domain_name}`)\n  - Only alphanumeric characters `(0-9, A-Z, a-z)` and `.`, `/`, `-`, `_` are valid within the template\n  - `.mp4` is the only valid extension\n\nExamples\n- Example domain: \"myDomain\"\n- Example room: \"myRoom\"\n\nExample 1:\n- Template: `myprefix-{domain_name}-{epoch_time}.mp4`\n- Resulting file name: `myprefix-myDomain-1675842936274.mp4`\n\nExample 2:\n- Template: `{room_name}/{instance_id}/{epoch_time}`\n- Resulting room name: `myRoom/d529cd2f-fbcc-4fb7-b2c0-c4995b1162b6/1675842936274`"
    rtmp_geo:
      type: string
      default: The closest available region to the SFU region used by the meeting.
      description: "Used to select the region where an RTMP stream should originate. In cases where RTMP streaming services aren't available in the desired region, we'll attempt to fall back to the default region based on the SFU being used for the meeting.\n\n  Available regions:\n  - `\"us-west-2\"` (Oregon)\n  - `\"eu-central-1\"` (Frankfurt)\n  - `\"ap-south-1\"` (Mumbai)\n\n  The default regions are grouped based on the SFU region like so:\n  - RTMP region `\"us-west-2\"` includes SFU regions: `\"us-west-2\"`, `\"us-east-1\"`, `\"sa-east-1\"`\n  - RTMP region `\"eu-central-1\"` includes SFU regions: `\"eu-central-1\"`, `\"eu-west-2\"`, `\"af-south-1\"`\n  - RTMP region `\"ap-south-1\"` includes SFU regions: `\"ap-southeast-1\"`, `\"ap-southeast-2\"`, `\"ap-northeast-2\"`, `\"ap-south-1\"`"
    enable_mesh_sfu:
      type: boolean
      description: 'Configures a room to use multiple SFUs for a call''s media. This feature enables calls to scale to large sizes and to reduce latency between participants. It is recommended specifically for interactive live streaming.


        See our [guide for interactive live streaming](/guides/scaling-calls/interactive-live-streaming-rtmp-output#daily-prebuilt-configurations-to-support-100-000-participants) for additional instruction.'
    pinless_dialin:
      type: array
      x-paidPlan: paid
      deprecated: true
      description: "**Deprecated:** Use [domain dial-in config](/rest-api/domainDialinConfig) instead.\n\n[SIP Interconnect and Pinless Dialin](/guides/products/dial-in-dial-out/dialin-pinless#provisioning-sip-interconnect-and-pinless-dialin-workflow),i.e., without entering a PIN code when dialling a phone number or directly calling a Daily SIP Interconnect address. In this case you dont need a SIP address associated to a particular Daily Room. \n\nWhen a call comes in to this phone number or to the sip interconnect address, it will trigger a webhook, where you'll need to create the Daily room and forward the call to the `sipUri` assocaited to the newly created room. \n\nThe Pinless Dialin only works with purchased phone numbers, because the call is not intended for a particular Daily room. Read more details on our [dosc-site](/guides/products/dial-in-dial-out/dialin-pinless)."
      items:
        type: object
        properties:
          phone_number:
            type: string
            description: Associate a purchased phone number to the Pinless dialin workflow. Must be in E.164 format (e.g. "+18058700061").
          room_creation_api:
            type: string
            description: The webhook URL to trigger when an incoming call arrives. Typically, you will need to spin-up a Daily meeting room and patch the incoming call to the room. Read more in the [pinless/sip interconnect guide](/guides/products/dial-in-dial-out/dialin-pinless#incoming-call-triggers-the-webhook).
          name_prefix:
            type: string
            description: An identifier or name to associate to the workflow.
          sip_uri:
            type: string
            description: 'This is not a settable value, Daily returns the `sip_uri` in cases where you want to directly send the call to the SIP URI instead of the phone_number. If you dial in to the `phone_number` or this `sip_uri`, the [webhook will be triggered](/guides/products/dial-in-dial-out/dialin-pinless#incoming-call-triggers-the-webhook). '
          hold_music_url:
            type: string
            description: URL of the MP3 file to be played as hold music while the room is being created. The URL must be publicly accessible, and the file must be in MP3 format with a duration of less than 60 seconds.
          timeout_config:
            type: object
            properties:
              message:
                type: string
                description: message to say if room could not be created within timeout of the hold_music. default message is "there are no available agents to service your call".
    pin_dialin:
      type: array
      x-paidPlan: paid
      deprecated: true
      description: '**Deprecated:** Use [domain dial-in config](/rest-api/domainDialinConfig) instead.


        Dialin with a [PIN code](/guides/products/dial-in-dial-out/dialin-pin). This works with both the Global phone numbers and any number that you purchased. When a call comes into one of the phone numbers, the dialer must enter the PIN code. If the code is correct, the user will be connected to the Daily Room. Otherwise the incoming call will be disconnected if an incorrect PIN code is entered.'
      items:
        type: object
        properties:
          phone_number:
            type: string
            description: Associate a purchased phone number to the dialin with PIN workflow. Must be in E.164 format (e.g. "+18058700061").
          name_prefix:
            type: string
            description: An identifier or name to associate to the workflow.
          ivr_greeting:
            type: object
            properties:
              message:
                type: string
                description: message to "Say" when user call the phone_number.
    sfu_switchover:
      type: number
      description: 'Dictates the participant count after which room topology automatically switches from Peer-to-Peer (P2P) to Selective Forwarding Unit (SFU) mode, or vice versa.


        For example, if `sfu_switchover` is set to `2` and the current network topology is P2P, the topology will switch to SFU mode when the _third_ participant joins the call. If the current topology is SFU, it will switch to P2P mode when the participant count decreases from `2` to `1`.


        We recommend specifying an integer value for this property except for cases where you would like the room to switch to SFU mode as soon as the first participant joins. In this case, set `sfu_switchover` to `0.5`.


        See our [guide about video call architecture](/guides/architecture-and-monitoring/intro-to-video-arch#the-architecture-of-a-room-p2p-vs-sfu-calls) for additional information.'
      default: 0.5
    permissions:
      type: object
      description: 'Specifies the initial default permissions for a non-[meeting-owner](/guides/configurations-and-settings/controlling-who-joins-a-meeting#meeting-owner-privileges) participant joining a call.


        Each permission (i.e. each of the properties listed below) can be configured in the meeting token, the room, and/or the domain, in decreasing order of precedence.


        Participant admins (those with the `''participants''` value in their `canAdmin` permission) can also change participants'' permissions on the fly during a call using [`updateParticipant()`](/products/daily-js/instance-methods/update-participant#param-update-permissions) or [`updateParticipants()`](/products/daily-js/instance-methods/update-participants).'
      properties:
        hasPresence:
          type: boolean
          description: Whether the participant appears as "present" in the call, i.e. whether they appear in [`participants()`](/products/daily-js/instance-methods/participants).
        canSend:
          oneOf:
          - type: boolean
          - type: array
            items:
              type: string
          description: 'Which types of media a participant should be permitted to send.


            Can be:

            - An Array containing any of `''video''`, `''audio''`, `''screenVideo''`, and `''screenAudio''`

            - `true` (meaning "all")

            - `false` (meaning "none")'
        canReceive:
          type: object
          description: "Which media the participant should be permitted to receive. \n\n[See here for `canReceive` object format](/products/daily-js/instance-methods/participants#permissionscanreceive-properties)."
        canAdmin:
          oneOf:
          - type: boolean
          - type: array
            items:
              type: string
          description: 'Which admin tasks a participant is permitted to do.


            Can be:

            - An array containing any of `''participants''`, `''streaming''`, or `''transcription''`

            - `true` (meaning "all")

            - `false` (meaning "none")'
    enable_multiparty_adaptive_simulcast:
      type: boolean
      description: Configures a domain or room to use [Daily Adaptive Bitrate](/guides/building-additional-features/daily-adaptive-bitrate). When enabled, along with configuring the client to [`allowAdaptiveLayers`](/products/daily-js/instance-methods/update-send-settings#sendsettings), the Daily client will continually adapt send settings to the current network conditions. `allowAdaptiveLayers` is `true` by default; if you haven't modified that setting, then setting `enable_multiparty_adaptive_simulcast` to `true` will enable Daily Adaptive Bitrate for multi-party calls. To use this feature, `enable_adaptive_simulcast` must also be set to `true`.
      default: false
    disable_rtmp_geo_fallback:
      type: boolean
      default: false
      description: 'Disable the fall back behavior of rtmp_geo. When rtmp_geo is set, we first try to connect to a media server in desired region. If a media server is not available in the desired region, we fall back to default region based on SFU''s region. This property disables this automatic fall back.

        When this property is set, we will trigger a recording/streaming error event when media worker is unavailable. Also, the client should retry recording/streaming.'
    domain:
      type: object
      additionalProperties: false
      properties:
        properties:
          type: object
          properties:
            enable_advanced_chat:
              type: boolean
              description: 'Property that gives end users a richer chat experience. This includes:


                * Emoji reactions to chat messages

                * Emoji picker in the chat input form

                * Ability to send a Giphy chat message


                ⚠️ This flag only applies to Daily Prebuilt. It has no effect when building custom video applications with the Daily call object.'
              default: false
            enable_people_ui:
              type: boolean
              default: true
              description: 'Determines if [Daily Prebuilt](/guides/products/prebuilt) displays the People UI. When set to true, a People button in the call tray reveals a People tab in the call sidebar. The tab lists all participants, and next to each name indicates audio status and an option to pin the participant. When `enable_people_ui` is set to false, the button and tab are hidden.


                ⚠️ Has no effect on custom calls built on the Daily [call object](/guides/products/call-object).'
            enable_cpu_warning_notifications:
              type: boolean
              default: true
              description: 'Determines if [Daily Prebuilt](/guides/products/prebuilt) displays CPU warning notifications. When set to true, snackbar notifications appear when high CPU usage is detected. When set to false, these notifications are hidden.


                ⚠️ This flag only applies to Daily Prebuilt. It has no effect when building custom video applications with the Daily call object.'
            enable_pip_ui:
              type: boolean
              description: 'Sets whether rooms for this domain can use [Daily Prebuilt](https://www.daily.co/prebuilt)''s Picture in Picture controls. When set to `true`, an additional button will be available in Daily Prebuilt''s UI to toggle the Picture in Picture feature.


                ⚠️ This flag only applies to Daily Prebuilt. It has no effect when building custom video applications with the Daily call object.'
              default: false
            enable_emoji_reactions:
              type: boolean
              description: 'Determines if [Daily Prebuilt](https://www.daily.co/prebuilt) displays the Emoji Reactions UI. When set to `true`, a Reactions button appears in the call tray. This button allows users to select and send a reaction into the call. When set to `false`, the Reactions button is hidden and the feature is disabled.


                Usage: This feature is a good fit for meetings when a host or presenter would benefit from receiving nonverbal cues from the audience. It''s also great to keep meetings fun.


                ⚠️ This flag only applies to Daily Prebuilt. It has no effect when building custom video applications with the Daily call object.'
              default: false
            enable_hand_raising:
              type: boolean
              description: 'Sets whether the participants in the room can use [Daily Prebuilt](https://www.daily.co/prebuilt)''s hand raising controls. When set to `true`, an additional button will be available in Daily Prebuilt''s UI to toggle a hand raise.


                ⚠️ This flag only applies to Daily Prebuilt. It has no effect when building custom video applications with the Daily call object.'
              default: false
            enable_prejoin_ui:
              type: boolean
              default: true
              description: "Determines whether participants enter a waiting room with a camera, mic, and browser check before joining a call in any room under this domain. \n\n⚠️ You must be using [Daily Prebuilt](https://daily.co/blog/daily-prebuilt-video-chat) to use `enable_prejoin_ui`."
            enable_breakout_rooms:
              type: boolean
              default: false
              description: "Sets whether rooms for this domain have [Daily Prebuilt](https://www.daily.co/prebuilt)’s breakout rooms feature enabled. When set to `true`, an owner in a Prebuilt call can create breakout rooms to divide participants into smaller, private groups. \n\n⚠️ You must be using [Daily Prebuilt](https://daily.co/blog/daily-prebuilt-video-chat) to use `enable_breakout_rooms`.\n\n⚠️ This property is in beta."
            enable_live_captions_ui:
              type: boolean
              default: false
              description: 'Sets whether participants in a room see a closed captions button in their Daily Prebuilt call tray. When the closed caption button is clicked, closed captions are displayed locally.


                When set to `true`, a closed captions button appears in the call tray. When set to `false`, the closed captions button is hidden from the call tray.


                Note: Transcription must be enabled for the room or users must have permission to start transcription for this feature to be enabled. View the [transcription guide](/guides/products/transcription) for more details.


                ⚠️ You must be using [Daily Prebuilt](https://daily.co/blog/daily-prebuilt-video-chat) to use `enable_live_captions_ui`.'
            enable_network_ui:
              type: boolean
              default: false
              description: "Determines whether the network button, and the network panel it reveals on click, appears across all rooms belonging to this domain. \n\n⚠️ You must be using [Daily Prebuilt](https://daily.co/blog/daily-prebuilt-video-chat) to use `enable_network_ui`."
            enable_noise_cancellation_ui:
              type: boolean
              default: true
              description: 'Determines whether Daily Prebuilt displays noise cancellation controls. When set to `true`, a participant can enable microphone noise cancellation during a Daily Prebuilt call.

                ⚠️ This flag only applies to Daily Prebuilt. It has no effect when building custom video applications with the Daily call object. To learn more about adding noise cancellation to a custom application, see the [`updateInputSettings()` docs](/products/daily-js/instance-methods/update-input-settings).'
            enable_video_processing_ui:
              type: boolean
              default: true
              description: "Determines whether Daily Prebuilt displays background blur controls. When set to `true`, a participant can enable blur during a Daily Prebuilt call. \n\n⚠️ This flag only applies to Daily Prebuilt. It has no effect when building custom video applications with the Daily call object."
            hide_daily_branding:
              type: boolean
              default: false
              x-paidPlan: paid
              description: Whether "Powered by Daily" displays in the in-call UI.
            redirect_on_meeting_exit:
              type: string
              description: (For meetings that open in a separate browser tab.) When a user clicks on the in-call menu bar's "leave meeting" button, the browser loads this URL. A query string that includes a parameter of the form `recent-call=<domain>/<room>` is appended to the URL. On mobile, you can redirect to a deep link to bring a user back into your app.
            hipaa:
              type: boolean
              default: false
              description: Email us at help@daily.co to turn on HIPAA. Learn more about [our HIPAA compliance](https://www.daily.co/hipaa-compliance).
              x-paidPlan: addon
            intercom_auto_record:
              type: boolean
              description: "Whether to automatically start recording when an Intercom support agent joins an Intercom-created call. Please see our [Intercom Messenger App page](https://www.daily.co/intercom) for more information. \n\n⚠️This method is read-only; please contact us if you'd like to enable intercom call auto-recording."
            lang:
              type: string
              enum:
              - da
              - de
              - en
              - es
              - fi
              - fr
              - it
              - jp
              - ka
              - nl
              - 'no'
              - pt
              - pt-BR
              - pl
              - ru
              - sv
              - tr
              - user
              default: en
              description: "The default language for the video call UI, for all calls. \n\nIf you set the language at this domain level, you can still override the setting for specific rooms in [a room's configuration properties](/products/rest-api/rooms/config), or for a specific participant in a [meeting token](/products/rest-api/meeting-tokens/config). \n\nYou can also set the language dynamically using the front-end library [setDailyLang() method](/products/daily-js/instance-methods/set-daily-lang).\n\n`*` Norwegian `\"no\"` and Russian `\"ru\"` are only available in the new Daily Prebuilt."
            meeting_join_hook:
              type: string
              description: 'Sets a URL that will receive a webhook when a user joins a room.


                ⚠️ In place of the `meeting_join_hook`, we recommend setting up a [webhook](/products/rest-api/webhooks) and listening for the [`participant.joined`](/products/rest-api/webhooks/events/participant-joined) event.'
              default: 'NULL'
            geo:
              $ref: '#/components/schemas/geo'
            rtmp_geo:
              $ref: '#/components/schemas/rtmp_geo'
            disable_rtmp_geo_fallback:
              $ref: '#/components/schemas/disable_rtmp_geo_fallback'
            enable_terse_logging:
              $ref: '#/components/schemas/enable_terse_logging'
            enable_transcription_storage:
              $ref: '#/components/schemas/enable_transcription_storage'
            transcription_bucket:
              $ref: '#/components/schemas/transcription_bucket'
            recordings_template:
              $ref: '#/components/schemas/recordings_template'
            transcription_template:
              $ref: '#/components/schemas/transcription_template'
            enable_mesh_sfu:
              $ref: '#/components/schemas/enable_mesh_sfu'
            sfu_switchover:
              $ref: '#/components/schemas/sfu_switchover'
            enable_adaptive_simulcast:
              $ref: '#/components/schemas/enable_adaptive_simulcast'
            enable_multiparty_adaptive_simulcast:
              $ref: '#/components/schemas/enable_multiparty_adaptive_simulcast'
            enforce_unique_user_ids:
              $ref: '#/components/schemas/enforce_unique_user_ids'
            recordings_bucket:
              $ref: '#/components/schemas/recordings_bucket'
            permissions:
              $ref: '#/components/schemas/permissions'
              default: '{ canSend: true, canReceive: { base: true }, hasPresence: true, canAdmin: false }'
            batch_processor_bucket:
              type: object
              description: Defines a custom S3 bucket where the batch processor will write its output
            enable_opus_fec:
              type: boolean
              description: Enables the use of Opus in-band FEC (Forward Error Correction) when encoding audio to send, where possible. This can make audio quality more resilient to packet loss.
            pinless_dialin:
              $ref: '#/components/schemas/pinless_dialin'
            pin_dialin:
              $ref: '#/components/schemas/pin_dialin'
            enable_raw_tracks_transcoded_audio:
              type: string
              enum:
              - aac
              - wav
              - wav-48k
              - wav-48k-stereo
              - wav-48k-mono
              - wav-44k1
              - wav-44k1-stereo
              - wav-44k1-mono
              - ''
              description: 'Enable gapless transcoded audio for `raw-tracks` recordings in all rooms under this domain. When set, each participant''s audio track is decoded, gaps (muted mic, idle periods, packet loss) are filled with silence, and the track is re-encoded as a continuous file. Affects audio tracks only; video tracks still record as `.webm`. A room value takes priority over this domain value.


                Supported values:


                * `aac`: AAC at 160 kbps, 48 kHz stereo, in an MP4 container.

                * `wav-48k-stereo` (aliases `wav` and `wav-48k`): 16-bit PCM WAV, 48 kHz stereo.

                * `wav-48k-mono`: 16-bit PCM WAV, 48 kHz mono.

                * `wav-44k1-stereo` (alias `wav-44k1`): 16-bit PCM WAV, 44.1 kHz stereo.

                * `wav-44k1-mono`: 16-bit PCM WAV, 44.1 kHz mono.


                Leave unset to keep the default Opus audio in a `.webm` container. See the [recording guide](/docs/guides/features/recording#gapless-transcoded-audio).'
    enable_adaptive_simulcast:
      type: boolean
      description: Configures a domain or room to use [Daily Adaptive Bitrate](/guides/building-additional-features/daily-adaptive-bitrate). When enabled, along with configuring the client to [`allowAdaptiveLayers`](/products/daily-js/instance-methods/update-send-settings#sendsettings), the Daily client will continually adapt send settings to the current network conditions. `allowAdaptiveLayers` is `true` by default; if you haven't modified that setting, then setting `enable_adaptive_simulcast` to `true` will enable Daily Adaptive Bitrate for 1:1 calls.
      default: true
    recordings_bucket:
      type: object
      description: 'Configures an S3 bucket in which to store recordings.

        See the [S3 bucket guide](/guides/products/live-streaming-recording/storing-recordings-in-a-custom-s3-bucket) for more information.


        Properties:'
      properties:
        bucket_name:
          type: string
          description: The name of the Amazon S3 bucket to use for recording storage.
          example: my-daily-recording
        bucket_region:
          type: string
          description: The region which the specified S3 bucket is located in.
          example: ap-south-1
        assume_role_arn:
          type: string
          description: The Amazon Resource Name (ARN) of the role Daily should assume when storing the recording in the specified bucket.
          example: arn:aws:iam::555555555555:role/DailyS3AccessRole
        allow_api_access:
          type: boolean
          description: Controls whether the recording will be accessible using Daily's API.
        allow_streaming_from_bucket:
          type: boolean
          description: 'Specifies which [`Content-Disposition`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) response header the recording link retrieved from the [access-link](/products/rest-api/recordings/get-recording-link) REST API endpoint will have. If `allow_streaming_from_bucket` is `false`, the header will be `Content-Dispostion: attachment`. If `allow_streaming_from_bucket` is `true`, the header will be `Content-Disposition: inline`.

            To play the recording link directly in the browser or embed it in a video player, set this property to `true`. Defaults to `false`'
    enable_transcription_storage:
      type: boolean
      description: Live transcriptions generated can be saved as WebVTT. This flag controls if transcription started with [`startTranscription()`](/products/daily-js/instance-methods/start-transcription) should be saved or not.
      default: false
  responses:
    '400':
      description: '400'
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
              info:
                type: string
          examples:
            Result:
              value:
                error: invalid-request-error
                info: missing required field
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
