{
  "openapi": "3.0.3",
  "info": {
    "title": "Daily API",
    "description": "The Daily REST API offers the ability to manage the following: \n- Overall Domain Configuration\n- Individual Room creation and config management \n- Meeting token creation and validation\n- Recording and compositing management \n- Meeting analytics\n- Logs and metrics\n- Real-time presence\n\nPlease reach out to help@daily.co if we can help with anything",
    "version": "1.1.1",
    "contact": {
      "name": "Daily",
      "url": "https://docs.daily.co",
      "email": "help@daily.co"
    }
  },
  "servers": [
    {
      "url": "https://api.daily.co/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/rooms": {
      "get": {
        "summary": "/rooms",
        "description": "List rooms",
        "operationId": "ListRooms",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Sets the number of rooms listed",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Returns room objects created before a provided room  id",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Returns room objects created after a provided room id",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "example": 2,
                      "default": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "5e3cf703-5547-47d6-a371-37b1f0b4427f"
                          },
                          "name": {
                            "type": "string",
                            "example": "w2pp2cf4kltgFACPKXmX"
                          },
                          "api_created": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "privacy": {
                            "type": "string",
                            "example": "public"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://api-demo.daily.co/w2pp2cf4kltgFACPKXmX"
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2019-01-26T09:01:22.000Z"
                          },
                          "config": {
                            "type": "object",
                            "properties": {
                              "start_video_off": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "total_count": 2,
                      "data": [
                        {
                          "id": "5e3cf703-5547-47d6-a371-37b1f0b4427f",
                          "name": "w2pp2cf4kltgFACPKXmX",
                          "api_created": false,
                          "privacy": "public",
                          "url": "https://api-demo.daily.co/w2pp2cf4kltgFACPKXmX",
                          "created_at": "2019-01-26T09:01:22.000Z",
                          "config": {
                            "start_video_off": true
                          }
                        },
                        {
                          "id": "d61cd7b2-a273-42b4-89bd-be763fd562c1",
                          "name": "hello",
                          "api_created": false,
                          "privacy": "public",
                          "url": "https://your-domain.daily.co/hello",
                          "created_at": "2019-01-25T23:49:42.000Z",
                          "config": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "/rooms",
        "description": "Create a room",
        "operationId": "CreateRoom",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "privacy": {
                    "type": "string"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/room-properties"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "d61cd7b2-a273-42b4-89bd-be763fd562c1"
                    },
                    "name": {
                      "type": "string",
                      "example": "w2pp2cf4kltgFACPKXmX"
                    },
                    "api_created": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "privacy": {
                      "type": "string",
                      "example": "public"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://api-demo.daily.co/w2pp2cf4kltgFACPKXmX"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2019-01-26T09:01:22.000Z"
                    },
                    "config": {
                      "$ref": "#/components/schemas/rooms-room_name-get-res"
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "id": "d61cd7b2-a273-42b4-89bd-be763fd562c1",
                      "name": "w2pp2cf4kltgFACPKXmX",
                      "api_created": true,
                      "privacy": "public",
                      "url": "https://api-demo.daily.co/w2pp2cf4kltgFACPKXmX",
                      "created_at": "2019-01-26T09:01:22.000Z",
                      "config": {
                        "start_video_off": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}": {
      "get": {
        "summary": "rooms/:name",
        "description": "Get info about a room",
        "operationId": "GetRoomConfig",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rooms-room_name-get-res"
                },
                "examples": {
                  "Result": {
                    "value": {
                      "id": "d61cd7b2-a273-42b4-89bd-be763fd562c1",
                      "name": "w2pp2cf4kltgFACPKXmX",
                      "api_created": false,
                      "privacy": "public",
                      "url": "https://api-demo.daily.co/w2pp2cf4kltgFACPKXmX",
                      "created_at": "2019-01-26T09:01:22.000Z",
                      "config": {
                        "start_video_off": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "rooms/:name",
        "description": "Set a room's privacy and config properties",
        "operationId": "SetRoomConfig",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "privacy": {
                    "type": "string"
                  },
                  "properties": {
                    "$ref": "#/components/schemas/room-properties"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "d61cd7b2-a273-42b4-89bd-be763fd562c1",
                      "name": "w2pp2cf4kltgFACPKXmX",
                      "api_created": false,
                      "privacy": "public",
                      "url": "https://api-demo.daily.co/w2pp2cf4kltgFACPKXmX",
                      "created_at": "2019-01-26T09:01:22.000Z",
                      "config": {
                        "start_video_off": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "rooms/:name",
        "description": "Delete a room",
        "operationId": "DeleteRoom",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "deleted": true,
                      "name": "my-room"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/presence": {
      "get": {
        "summary": "rooms/:name/presence",
        "description": "Get a presence snapshot for a room",
        "operationId": "GetRoomPresence",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "description": "The name of the room",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Sets the number of participants returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Returns presence for the user with the given userId, if available. The userId is specified via a [meeting token](/products/rest-api/meeting-tokens/config#user_id).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userName",
            "in": "query",
            "description": "Returns presence for the user with the given name, if available.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rooms-room_name_presence-get-res"
                },
                "examples": {
                  "Result": {
                    "value": {
                      "total_count": 1,
                      "data": [
                        {
                          "room": "w2pp2cf4kltgFACPKXmX",
                          "id": "d61cd7b2-a273-42b4-89bd-be763fd562c1",
                          "userId": "pbZ+ismP7dk=",
                          "userName": "Moishe",
                          "mtgSessionId": "16e9701a-93e0-4933-83c9-223e7c40d552",
                          "joinTime": "2023-01-01T20:53:19.000Z",
                          "duration": 2312
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/send-app-message": {
      "post": {
        "summary": "rooms/:name/send-app-message",
        "description": "Send a message to participants in a room",
        "operationId": "SendAppMessage",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "A javascript object that can be serialized into JSON. Data sent must be within the 4kb size limit."
                  },
                  "recipient": {
                    "type": "string",
                    "description": "Determines who will recieve the message. It can be either a participant session_id, or `*`. The `*` value is the default, and means that the message is a \"broadcast\" message intended for all participants.",
                    "default": "*"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/get-session-data": {
      "get": {
        "summary": "rooms/:name/get-session-data",
        "description": "Gets meeting session data",
        "operationId": "GetSessionData",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "data": {
                        "hello": "world"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/set-session-data": {
      "post": {
        "summary": "rooms/:name/set-session-data",
        "description": "Sets meeting session data",
        "operationId": "SetSessionData",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "A javascript object that can be serialized into JSON. Defaults to `{}`."
                  },
                  "mergeStrategy": {
                    "type": "string",
                    "enum": [
                      "replace",
                      "shallow-merge"
                    ],
                    "description": "`replace` to replace the existing meeting session data object or `shallow-merge` to merge with it.",
                    "default": "replace"
                  },
                  "keysToDelete": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional list of keys to delete from the existing meeting session data object when using `shallow-merge`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/eject": {
      "post": {
        "summary": "rooms/:name/eject",
        "description": "Ejects participants from a room",
        "operationId": "Eject",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of participant ids (max 100) to eject from the existing meeting session."
                  },
                  "user_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of user_ids (max 100) to eject from the existing meeting session."
                  },
                  "ban": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, participants are prevented from (re)joining with the given user_ids."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ejectedIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/update-permissions": {
      "post": {
        "summary": "rooms/:name/update-permissions",
        "description": "Modifies permissions for one or more participants in a room",
        "operationId": "UpdatePermissions",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "data": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "hasPresence": {
                          "type": "boolean"
                        },
                        "canSend": {
                          "oneOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ]
                        },
                        "canReceive": {
                          "type": "object"
                        },
                        "canAdmin": {
                          "oneOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          ]
                        }
                      },
                      "description": "Permissions to modify for a given participant id or '*'."
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/recordings/start": {
      "post": {
        "summary": "rooms/:name/recordings/start",
        "description": "Start a recording in a room",
        "operationId": "RoomRecordingsStart",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordingStreamingOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/recordings/update": {
      "post": {
        "summary": "rooms/:name/recordings/update",
        "description": "Update a recording in a room",
        "operationId": "RoomRecordingsUpdate",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DailyStreamingOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/recordings/stop": {
      "post": {
        "summary": "rooms/:name/recordings/stop",
        "description": "Stop a recording in a room",
        "operationId": "RoomRecordingsStop",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/live-streaming/start": {
      "post": {
        "summary": "rooms/:name/live-streaming/start",
        "description": "Start a live stream in a room",
        "operationId": "RoomLivestreamingStart",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DailyLiveStreamingOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/live-streaming/update": {
      "post": {
        "summary": "rooms/:name/live-streaming/update",
        "description": "Update a live stream in a room",
        "operationId": "RoomLivestreamingUpdate",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DailyLiveStreamingOptions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/live-streaming/stop": {
      "post": {
        "summary": "rooms/:name/live-streaming/stop",
        "description": "Stop a live stream in a room",
        "operationId": "RoomLivestreamingStop",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/transcription/start": {
      "post": {
        "summary": "rooms/:name/transcription/start",
        "description": "Start a transcription in a room",
        "operationId": "RoomTranscriptionStart",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/transcription-properties"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/transcription/update": {
      "post": {
        "summary": "rooms/:name/transcription/update",
        "description": "Update the set of participants being transcribed",
        "operationId": "RoomTranscriptionUpdate",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "instanceId": {
                    "type": "string",
                    "description": "instanceId to be updated."
                  },
                  "participants": {
                    "description": "A list of participant IDs to be transcribed. Only the participant IDs included in this array will be processed",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/transcription/stop": {
      "post": {
        "summary": "rooms/:name/transcription/stop",
        "description": "Stop a transcription in a room",
        "operationId": "RoomTranscriptionStop",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "instanceId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "sent": "true"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/dialOut/start": {
      "post": {
        "summary": "rooms/:name/dialOut/start",
        "description": "Start a dial-out in a room",
        "operationId": "RoomDialOutStart",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dialout-properties"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "ok": "true",
                      "sessionId": "UUID of the dial-out session"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/dialOut/sendDTMF": {
      "post": {
        "summary": "rooms/:name/dialOut/sendDTMF",
        "description": "send DTMF digits on the dialout",
        "operationId": "RoomDialOutSendDTMF",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "description": "The participant ID of the dialOut session"
                  },
                  "tones": {
                    "type": "string",
                    "description": "Combined string of DTMF tones to send (e.g., \"1234#\"). Maximum 20 characters."
                  },
                  "digitDurationMs": {
                    "type": "integer",
                    "description": "Duration in milliseconds, represents the duration between each DTMF digit. Must be between 50 and 2000. The default duration is 500ms.",
                    "minimum": 50,
                    "maximum": 2000
                  }
                },
                "required": [
                  "sessionId",
                  "tones"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "ok": "true",
                      "sessionId": "UUID of the dial-out session"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/dialOut/stop": {
      "post": {
        "summary": "rooms/:name/dialOut/stop",
        "description": "Stop a dial out in a room",
        "operationId": "RoomDialOutStop",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/sipCallTransfer": {
      "post": {
        "summary": "rooms/:name/sipCallTransfer",
        "description": "transfer sip/pstn call",
        "operationId": "RoomSipCallTransfer",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "toEndPoint": {
                    "type": "string",
                    "description": "the SIP/phoneNumber endpoint to transfer the call to."
                  },
                  "callerId": {
                    "type": "string",
                    "description": "determine the phone number used for outbound call (i.e. phone number displayed on the called phone). [purchased phone](/products/rest-api/phone-numbers/purchased-phone-numbers)"
                  },
                  "waitBeforeExtensionDialSec": {
                    "type": "integer",
                    "description": "number of seconds to wait before dialing the extension, once dialed number is connected.",
                    "default": 0,
                    "minimum": 0,
                    "maximum": 60
                  },
                  "extension": {
                    "type": "string",
                    "description": "the extension to dial after dialed number is connected. e.g. `1234`",
                    "maxLength": 20,
                    "minLength": 1,
                    "example": "1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "ok": "true"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/rooms/{room_name}/sipRefer": {
      "post": {
        "summary": "rooms/:name/sipRefer",
        "description": "refer a sip call to other sip endpoint",
        "operationId": "RoomSipRefer",
        "parameters": [
          {
            "name": "room_name",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string"
                  },
                  "toEndPoint": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "ok": "true"
                    }
                  }
                }
              }
            },
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "rooms"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/meeting-tokens": {
      "post": {
        "summary": "meeting-tokens",
        "description": "Create a meeting token",
        "operationId": "CreateMeetingToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "properties": {
                    "$ref": "#/components/schemas/properties"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyIjoicm9vbS0wMjUzIiwiZCI6IjI1ZGY1MDU3LWVmMGQtNGQ5Ny1iZGU2LTBjZjI4NzI3NmNiYiIsImlhdCI6MTU0ODcyMjIwN30.LXZtTnksTjWLTNvucr0MCHL6cOaqCa2m3DKk4ugnkSQ"
                    }
                  }
                },
                "examples": {
                  "Example Response": {
                    "value": {
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyIjoicm9vbS0wMjUzIiwiZCI6IjI1ZGY1MDU3LWVmMGQtNGQ5Ny1iZGU2LTBjZjI4NzI3NmNiYiIsImlhdCI6MTU0ODcyMjIwN30.LXZtTnksTjWLTNvucr0MCHL6cOaqCa2m3DKk4ugnkSQ"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "meeting-tokens"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/meeting-tokens/{meeting_token}": {
      "get": {
        "summary": "meeting-tokens/:meeting_token",
        "description": "Validate meeting tokens",
        "operationId": "ValidateMeetingToken",
        "parameters": [
          {
            "name": "meeting_token",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreNbf",
            "in": "query",
            "description": "Ignore the `nbf` in a JWT, if given",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room_name": {
                      "type": "string",
                      "example": "EevVrrxee4JBxKzmKkjC"
                    },
                    "is_owner": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "user_name": {
                      "type": "string",
                      "example": "host"
                    },
                    "start_video_off": {
                      "type": "boolean",
                      "example": false,
                      "default": true
                    },
                    "start_audio_off": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "lang": {
                      "type": "string",
                      "example": "en"
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "room_name": "EevVrrxee4JBxKzmKkjC",
                      "is_owner": true,
                      "user_name": "host",
                      "start_video_off": false,
                      "start_audio_off": true,
                      "lang": "en"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "meeting-tokens"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recordings": {
      "get": {
        "summary": "/recordings",
        "description": "List recordings",
        "operationId": "ListRecordings",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "room_name",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "bfd0c52b-3a2a-4269-80ce-cae9eef55536"
                          },
                          "start_ts": {
                            "type": "integer",
                            "example": 1548790974,
                            "default": 0
                          },
                          "status": {
                            "type": "string",
                            "example": "in-progress"
                          },
                          "max_participants": {
                            "type": "integer",
                            "example": 2,
                            "default": 0
                          },
                          "share_token": {
                            "type": "string",
                            "example": "NcWgEiJuqD8v"
                          },
                          "s3key": {
                            "type": "string",
                            "example": "mydomain/test-recording-room/11245260397"
                          },
                          "mtgSessionId": {
                            "type": "string",
                            "example": "257764e6-c74e-4c30-944a-a887a03173a3"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "total_count": 3,
                      "data": [
                        {
                          "id": "bfd0c52b-3a2a-4269-80ce-cae9eef55536",
                          "start_ts": 1548790974,
                          "status": "in-progress",
                          "max_participants": 2,
                          "share_token": "NcWgEiJuqD8v",
                          "s3key": "mydomain/test-recording-room/11245260397",
                          "mtgSessionId": "411c96b4-c13b-4f35-b639-4fda02863743"
                        },
                        {
                          "id": "0cb313e1-211f-4be0-833d-8c7305b19902",
                          "start_ts": 1548789650,
                          "status": "finished",
                          "max_participants": 2,
                          "duration": 277,
                          "share_token": "TivXjlD22QQt",
                          "s3key": "mydomain/test-recording-room/277255707741,",
                          "mtgSessionId": "1117a5d8-f6c4-4ff5-a9ec-2a324666f0da"
                        },
                        {
                          "id": "89a4a0a4-03cf-454f-b874-e83d91b0296f",
                          "start_ts": 1548788621,
                          "status": "finished",
                          "max_participants": 1,
                          "duration": 53,
                          "share_token": "QehWXiO2zMMf",
                          "s3key": "mydomain/test-recording-room/11245260397,",
                          "mtgSessionId": "257764e6-c74e-4c30-944a-a887a03173a3,"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "recordings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recordings/{recording_id}": {
      "get": {
        "summary": "recordings/:id",
        "description": "Get info about a recording",
        "operationId": "GetRecordingInfo",
        "parameters": [
          {
            "name": "recording_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "description": "A unique, opaque ID for this object. You can use this ID in API calls, and in paginated list operations."
                    },
                    "room_name": {
                      "type": "string",
                      "description": "The name of the [room](/reference/rest-api/rooms)."
                    },
                    "start_ts": {
                      "type": "integer",
                      "example": 1548789650,
                      "description": "When the recording started. This is a unix timestamp (seconds since the epoch)."
                    },
                    "status": {
                      "type": "string",
                      "example": "finished",
                      "enum": [
                        "finished",
                        "in-progress",
                        "canceled"
                      ]
                    },
                    "max_participants": {
                      "type": "integer",
                      "example": 2,
                      "description": "The maximum number of participants that were ever in this room together during the meeting session that was recorded."
                    },
                    "duration": {
                      "type": "integer",
                      "example": 277,
                      "description": "How many seconds long the recording is, approximately. This property is not returned for recordings that are in-progress."
                    },
                    "share_token": {
                      "type": "string",
                      "example": "TivXjlD22QQt",
                      "description": "Deprecated."
                    },
                    "s3key": {
                      "type": "string",
                      "example": "mydomain/test-recording-room/11245260397",
                      "description": "The S3 Key associated with this recording."
                    },
                    "mtgSessionId": {
                      "type": "string",
                      "example": "257764e6-c74e-4c30-944a-a887a03173a3",
                      "description": "The meeting session ID for this recording."
                    },
                    "tracks": {
                      "type": "array",
                      "description": "If the recording is a raw-tracks recording, a tracks field will be provided. If role permissions have been removed, the tracks field may be null.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "size": {
                            "type": "integer",
                            "example": 15620,
                            "description": "The size of the file."
                          },
                          "type": {
                            "type": "string",
                            "example": "audio",
                            "enum": [
                              "audio",
                              "video"
                            ],
                            "description": "The type of track file, audio or video."
                          },
                          "s3key": {
                            "type": "string",
                            "example": "mydomain/test-recording-room/11245260397-audio",
                            "description": "The S3 Key associated with this partiicular track file."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "id": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "start_ts": 1548789650,
                      "status": "finished",
                      "max_participants": 2,
                      "duration": 277,
                      "share_token": "TivXjlD22QQt",
                      "s3key": "mydomain/test-recording-room/11245260397",
                      "mtgSessionId": "257764e6-c74e-4c30-944a-a887a03173a3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "recordings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "recordings/:id",
        "description": "Delete a recording",
        "operationId": "DeleteRecording",
        "parameters": [
          {
            "name": "recording_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "s3_bucket": {
                      "type": "string"
                    },
                    "s3_region": {
                      "type": "string"
                    },
                    "s3_key": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "deleted": true,
                      "id": "0868d783-69c0-4556-b39e-0fbd6bf2bd45",
                      "s3_bucket": "daily-meeting-recordings",
                      "s3_region": "us-west-2",
                      "s3_key": "mydomain/raw-tracks/1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "recordings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recordings/{recording_id}/access-link": {
      "get": {
        "summary": "recordings/:id/access-link",
        "description": "Generate an access link for a recording",
        "operationId": "GetRecordingLink",
        "parameters": [
          {
            "name": "recording_id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "download_link": {
                      "type": "string",
                      "example": "https://daily-meeting-recordings.s3.us-west-2.amazonaws.com/api-demo/hello/1548790973821?AWSAccessKeyId=AKIAJVYA3B2F4672K3RQ&Expires=1548809176&Signature=xfSPW1kXksNriqmlm%2FT9hb%2Fq%2Bas%3D&response-content-disposition=attachment%3B%20filename%3D%22api-demo%2Fhello%2F1548790973821.webm%22"
                    },
                    "expires": {
                      "type": "integer",
                      "example": 1548809176,
                      "default": 0
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "download_link": "https://daily-meeting-recordings.s3.us-west-2.amazonaws.com/api-demo/hello/1548790973821?AWSAccessKeyId=AKIAJVYA3B2F4672K3RQ&Expires=1548809176&Signature=xfSPW1kXksNriqmlm%2FT9hb%2Fq%2Bas%3D&response-content-disposition=attachment%3B%20filename%3D%22api-demo%2Fhello%2F1548790973821.webm%22",
                      "expires": 1548809176
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "recordings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transcript": {
      "get": {
        "summary": "/transcript",
        "description": "List transcripts",
        "operationId": "ListTranscript",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "roomId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mtgSessionId",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transcriptId": {
                            "type": "string",
                            "example": "0cb313e1-211f-4be0-833d-8c7305b19902",
                            "description": "A unique, opaque ID for this object. You can use this ID in API calls, and in paginated list operations."
                          },
                          "domainId": {
                            "type": "string",
                            "description": "The Id of the domain [domain](/reference/rest-api/domain)."
                          },
                          "roomId": {
                            "type": "string",
                            "example": "1a5afbf4-211f-4be0-833d-8c7305b19902",
                            "description": "The id of the room [room](/reference/rest-api/rooms)."
                          },
                          "mtgSessionId": {
                            "type": "string",
                            "example": "257764e6-c74e-4c30-944a-a887a03173a3",
                            "description": "The meeting session ID for this transcription."
                          },
                          "status": {
                            "type": "string",
                            "example": "t_finished",
                            "enum": [
                              "t_finished",
                              "t_in_progress",
                              "t_error",
                              "t_deleted"
                            ]
                          },
                          "isVttAvailable": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the transcription has been stored in a WebVTT file. See [transcription storage](/docs/guides/features/transcription#storage)."
                          },
                          "duration": {
                            "type": "integer",
                            "example": 277,
                            "description": "How many seconds long the transcription is, approximately."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-01-15T10:30:00.000Z",
                            "description": "When the transcript record was created (i.e. transcription started)."
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-01-15T10:35:00.000Z",
                            "description": "When the transcript record was last updated."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "total_count": 3,
                      "data": [
                        {
                          "transcriptId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                          "domainId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                          "roomId": "1a5afbf4-211f-4be0-833d-8c7305b19902",
                          "mtgSessionId": "257764e6-c74e-4c30-944a-a887a03173a3",
                          "status": "t_finished",
                          "duration": 277,
                          "created_at": "2024-01-15T10:30:00.000Z",
                          "updated_at": "2024-01-15T10:35:00.000Z"
                        },
                        {
                          "transcriptId": "257764e6-211f-4be0-833d-8c7305b19903",
                          "domainId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                          "roomId": "1a5afbf4-211f-4be0-833d-8c7305b19902",
                          "mtgSessionId": "211f64e6-c74e-4c30-944a-a887a03173a3",
                          "status": "t_in_progress",
                          "duration": 21,
                          "created_at": "2024-01-15T10:28:00.000Z",
                          "updated_at": "2024-01-15T10:28:00.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "transcript"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transcript/{transcriptId}": {
      "get": {
        "summary": "transcript/:transcriptId",
        "description": "Get info about a Transcript",
        "operationId": "GetTranscriptInfo",
        "parameters": [
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transcriptId": {
                      "type": "string",
                      "example": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "description": "A unique, opaque ID for this object. You can use this ID in API calls, and in paginated list operations."
                    },
                    "domainId": {
                      "type": "string",
                      "description": "The Id of the [domain](/reference/rest-api/domain)."
                    },
                    "roomId": {
                      "type": "string",
                      "example": "1a5afbf4-211f-4be0-833d-8c7305b19902",
                      "description": "The id of the [room](/reference/rest-api/rooms)."
                    },
                    "mtgSessionId": {
                      "type": "string",
                      "example": "257764e6-c74e-4c30-944a-a887a03173a3",
                      "description": "The meeting session ID for this transcription."
                    },
                    "status": {
                      "type": "string",
                      "example": "t_finished",
                      "enum": [
                        "t_finished",
                        "t_in_progress",
                        "t_error",
                        "t_deleted"
                      ]
                    },
                    "isVttAvailable": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the transcription has been stored in a WebVTT file. See [transcription storage](/docs/guides/features/transcription#storage)."
                    },
                    "duration": {
                      "type": "integer",
                      "example": 277,
                      "description": "How many seconds long the transcription is, approximately."
                    },
                    "outParams": {
                      "description": "Object representing the storage location for the transcript if `transcription_bucket` is defined.",
                      "type": "object",
                      "properties": {
                        "s3key": {
                          "type": "string",
                          "example": "mydomain/test-recording-room/11245260397"
                        },
                        "bucket": {
                          "type": "string",
                          "example": "my-transcript-bucket"
                        },
                        "region": {
                          "type": "string",
                          "example": "us-west-2"
                        }
                      }
                    },
                    "error": {
                      "type": "string",
                      "example": "Failed to upload Vtt",
                      "description": "If `status` is `t_error`, this provide the description of the error, otherwise `null`."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00.000Z",
                      "description": "When the transcript record was created (i.e. transcription started)."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:35:00.000Z",
                      "description": "When the transcript record was last updated."
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "transcriptId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "domainId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "roomId": "1a5afbf4-211f-4be0-833d-8c7305b19902",
                      "mtgSessionId": "257764e6-c74e-4c30-944a-a887a03173a3",
                      "status": "t_finished",
                      "duration": 277,
                      "outParams": {
                        "key": "my-transcript.vtt",
                        "bucket": "my-transcript-bucket",
                        "region": "us-west-2"
                      },
                      "created_at": "2024-01-15T10:30:00.000Z",
                      "updated_at": "2024-01-15T10:35:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "transcript"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "transcript/:id",
        "description": "Delete a transcript",
        "operationId": "DeleteTranscript",
        "parameters": [
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transcriptId": {
                      "type": "string",
                      "example": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "description": "A unique, opaque ID for this object. You can use this ID in API calls, and in paginated list operations."
                    },
                    "domainId": {
                      "type": "string",
                      "description": "The ID of the domain [domain](/reference/rest-api/domain)."
                    },
                    "roomId": {
                      "type": "string",
                      "example": "1a5afbf4-211f-4be0-833d-8c7305b19902",
                      "description": "The ID of the room [room](/reference/rest-api/rooms)."
                    },
                    "mtgSessionId": {
                      "type": "string",
                      "example": "257764e6-c74e-4c30-944a-a887a03173a3",
                      "description": "The meeting session ID for this transcription."
                    },
                    "status": {
                      "type": "string",
                      "example": "t_finished",
                      "enum": [
                        "t_finished",
                        "t_in_progress",
                        "t_error",
                        "t_deleted"
                      ]
                    },
                    "isVttAvailable": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the transcription has been stored in a WebVTT file. See [transcription storage](/docs/guides/features/transcription#storage)."
                    },
                    "duration": {
                      "type": "integer",
                      "example": 277,
                      "description": "Transcription length in seconds"
                    },
                    "outParams": {
                      "description": "Object representing the storage location for the transcript if `transcription_bucket` is defined.",
                      "type": "object",
                      "properties": {
                        "s3key": {
                          "type": "string",
                          "example": "mydomain/test-recording-room/11245260397"
                        },
                        "bucket": {
                          "type": "string",
                          "example": "my-transcript-bucket"
                        },
                        "region": {
                          "type": "string",
                          "example": "us-west-2"
                        }
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-15T10:30:00.000Z",
                      "description": "When the transcript record was created (i.e. transcription started)."
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "transcriptId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "domainId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "roomId": "1a5afbf4-211f-4be0-833d-8c7305b19902",
                      "mtgSessionId": "257764e6-c74e-4c30-944a-a887a03173a3",
                      "status": "t_deleted",
                      "duration": 277,
                      "outParams": {
                        "key": "my-transcript.vtt",
                        "bucket": "my-transcript-bucket",
                        "region": "us-west-2"
                      },
                      "created_at": "2024-01-15T10:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "transcript"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transcript/{transcriptId}/access-link": {
      "get": {
        "summary": "transcript/:id/access-link",
        "description": "Generate an access link for a transcript",
        "operationId": "GetTranscriptLink",
        "parameters": [
          {
            "name": "transcriptId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transcriptId": {
                      "type": "string",
                      "example": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "description": "A unique, opaque ID for this object. You can use this ID in API calls, and in paginated list operations."
                    },
                    "link": {
                      "type": "string",
                      "example": "https://daily-meeting-transcripts.s3.us-west-2.amazonaws.com/api-demo/hello/1548790973821?AWSAccessKeyId=AKIAJVYA3B2F4672K3RQ&Expires=1548809176&Signature=xfSPW1kXksNriqmlm%2FT9hb%2Fq%2Bas%3D&response-content-disposition=attachment%3B%20filename%3D%22api-demo%2Fhello%2F1548790973821.webm%22"
                    },
                    "outParams": {
                      "description": "Object representing the storage location for the transcript if `transcription_bucket` is defined.",
                      "type": "object",
                      "properties": {
                        "s3key": {
                          "type": "string",
                          "example": "mydomain/test-recording-room/11245260397"
                        },
                        "bucket": {
                          "type": "string",
                          "example": "my-transcript-bucket"
                        },
                        "region": {
                          "type": "string",
                          "example": "us-west-2"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "transcriptId": "0cb313e1-211f-4be0-833d-8c7305b19902",
                      "download_link": "https://daily-meeting-transcripts.s3.us-west-2.amazonaws.com/api-demo/hello/1548790973821?AWSAccessKeyId=AKIAJVYA3B2F4672K3RQ&Expires=1548809176&Signature=xfSPW1kXksNriqmlm%2FT9hb%2Fq%2Bas%3D&response-content-disposition=attachment%3B%20filename%3D%22api-demo%2Fhello%2F1548790973821.webm%22",
                      "outParams": {
                        "key": "my-transcript.vtt",
                        "bucket": "my-transcript-bucket",
                        "region": "us-west-2"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "transcript"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/domain-dialin-config": {
      "get": {
        "summary": "/domain-dialin-config",
        "description": "List all the pinless_dialin and pin_dialin configs for the domain, with pagination",
        "operationId": "ListDomainDialinConfigs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_number",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "phone_numbers",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": false,
            "description": "a comma separated list of phone numbers to filter by. The filter will match any phone number that contains the provided numbers as a substring (partial match).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sip_username",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "description": "The sip username associated with this dialin config (only the username part of the sip uri)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name_prefix",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "description": "The type of dialin config. It can be pinless_dialin or pin_dialin.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "0cb313e1-211f-4be0-833d-8c7305b19902",
                            "description": "A unique, opaque ID for this object. You can use this ID in API calls, and in paginated list operations."
                          },
                          "type": {
                            "type": "string",
                            "example": "pinless_dialin",
                            "description": "describe the type of configuration. It can be pinless_dialin or pin_dialin.",
                            "enum": [
                              "pinless_dialin",
                              "pin_dialin"
                            ]
                          },
                          "config": {
                            "$ref": "#/components/schemas/domain_dialin_config_create_req"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "total_count": 2,
                      "data": [
                        {
                          "id": "bfd0c52b-3a2a-4269-80ce-cae9eef55536",
                          "type": "pinless_dialin",
                          "config": {
                            "sip_uri": "user--1739943585193@daily-<domainId>-stage-pinless-sip.dapp.signalwire.com",
                            "name_prefix": "new-api"
                          }
                        },
                        {
                          "id": "0cb313e1-211f-4be0-833d-8c7305b19902",
                          "type": "pin_dialin",
                          "config": {
                            "sip_uri": null,
                            "name_prefix": "new-api-pin",
                            "phone_number": "+12555599999"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "domain-dialin-config"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "summary": "create new config",
        "description": "create a new pinless_dialin or pin_dialin config",
        "operationId": "CreateDomainDialConfigInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/domain_dialin_config_create_req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The final dialin config for the id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain_dialin_config_info_res"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "info": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": {
                      "error": "invalid-request-error",
                      "info": "Failed to configure pin dialin: 12096181843 not associated with domain: your-domain"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "domain-dialin-config"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/domain-dialin-config/{id}": {
      "get": {
        "summary": "domain-dialin-config/:id",
        "description": "Get info about an existing pinless_dialin or pin_dialin config",
        "operationId": "GetDomainDialinConfigInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain_dialin_config_info_res"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "domain-dialin-config"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "summary": "domain-dialin-config/:id",
        "description": "update an existing pinless_dialin or pin_dialin config",
        "operationId": "UpdateDomainDialConfigInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/domain_dialin_config_update_req"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/domain_dialin_config_info_res"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        },
        "deprecated": false,
        "tags": [
          "domain-dialin-config"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "summary": "domain-dialin-config/:id",
        "description": "Delete a given pinless_dialin or pin_dialin config",
        "operationId": "DeleteDomainDialinConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
[...]
